<head>
    <title>Iniciar sesión</title>
</head>

<body>

    <div class="login_container">
        <div class="form_container">
            <div class="image_container">
                <img src="../../../assets/images/login/shop1.png" alt="loginImage">
            </div>
            <div class="form_content">
                <form id="formularioLogIn" (submit)="onSubmit()">
                    <h2 id="title_log">Welcome</h2>
                    <div class="field">
                        <label>Email address:<br></label>
                        <input matInput class="text" id="email" name="email" type="email" placeholder="name@example.com" 
                        [(ngModel)]="email">
                    </div>
                    <div class="field">
                        <label>Password<br></label>
                        <input class="text" id="password" name="password" type="password" placeholder="••••••••••"
                        [(ngModel)]="password" >
                    </div>
                    <div class="options">
                        <div class="check">
                            <input type="checkbox" id="miCheckbox" name="miCheckbox" >
                            <label for="miCheckbox">Remember me</label>
                        </div>
                            <a class="restore_pass" href="restorePass">Forgot password?</a>
                    </div>
                    <div class="field">
                        <input class="button" type="submit" value="Login">
                    </div>
                    <div class="field">
                        <input class="button" id="registerBtn" type="submit" value="Register now" (click)="navigateToSignUpPage()">
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>
