<footer>
  <div class="footer-container">
    <div class="column">
      <h5>Help</h5>
      <ul>
        <li>About us</li>
        <li>Information</li>
        <li>Customer service</li>
      </ul>
    </div>

    <div class="column">
      <h5>Payment methods</h5>
      <div class="payment-images">

        <img src="../../../assets/footer/paypal.png" alt="Paypal Method">
        <img src="../../../assets/footer/visa.png" alt="Visa Method">
        <img src="../../../assets/footer/mastercard.png" alt="Mastercard Method">

      </div>
    </div>

    <div class="column">
      <h5 class="centerOurSocial">Our social</h5>
      <div class="social-images">

        <img src="../../../assets/footer/message.png" alt="Message">
        <img src="../../../assets/footer/telegram.png" alt="Telegram">
        <img src="../../../assets/footer/facebook.jpg" alt="Facebook">
        <img src="../../../assets/footer/instagram.png" alt="Integram">

      </div>
    </div>
  </div>
</footer>
