footer {
  background-color: #393E46;
  padding: 20px 0;
  color: white;
}

h5 {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-top: 10px;
}

.payment-images img,
.social-images img {
  max-width: 10px; /* Ajusta el ancho de las imágenes según sea necesario */
  margin-right: 10px;
}
