<footer>
  <div class="container">
    <div class="row text-sm">
      <div class="col" style="max-width: 33%;">
        <h5>
          Help
        </h5>
        <ul class="list-unstyled">
          <li>About us</li>
          <li>Information</li>
          <li>Customer service</li>
        </ul>
      </div>

      <div class="col" style="max-width: 30%;">
        <h5 style="text-align: center;">
          Payment methods
        </h5>
        <div class="row">
          <div class="col">
            <img src="../../../assets/footer/paypal.png" class="img-fluid mx-1" alt="Paypal Method" style="max-width: 10vw; max-height: 10vh;">
          </div>
          <div class="col">
            <img src="../../../assets/footer/visa.png" class="img-fluid mx-1" alt="Visa Method" style="max-width: 10vw; max-height: 10vh;">
          </div>
          <div class="col">
            <img src="../../../assets/footer/mastercard.png" class="img-fluid mx-1" alt="Mastercard Method" style="max-width: 10vw; max-height: 10vh;">
          </div>
        </div>
      </div>

      <div class="col" style="max-width: 30%; margin-left: 10%;">
        <h5 style="text-align: center;">
          Our social
        </h5>
        <div class="row">
          <div class="col">
            <img src="../../../assets/footer/message.png" class="img-fluid mx-1" alt="Message" style="max-width: 8vw; max-height: 8vh;">
          </div>
          <div class="col">
            <img src="../../../assets/footer/telegram.png" class="img-fluid mx-1" alt="Telegram" style="max-width: 8vw; max-height: 8vh;">
          </div>
          <div class="col">
            <img src="../../../assets/footer/facebook.jpg" class="img-fluid mx-1" alt="Facebook" style="max-width: 8vw; max-height: 8vh;">
          </div>
          <div class="col">
            <img src="../../../assets/footer/instagram.png" class="img-fluid mx-1" alt="Instagram" style="max-width: 8vw; max-height: 8vh;">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
