<footer>
  <div class="container">
    <div class="row text-sm">
      <div class="col sizeColumHelp">
        <h5>
          Help
        </h5>
        <ul class="list-unstyled">
          <li>About us</li>
          <li>Information</li>
          <li>Customer service</li>
        </ul>
      </div>

      <div class="col sizeColumPayment">
        <h5 class="textCenter">
          Payment methods
        </h5>
        <div class="row">
          <div class="col">
            <img src="../../../assets/images/footer/paypal.png" class="img-fluid mx-1" alt="Paypal Method">
          </div>
          <div class="col">
            <img src="../../../assets/images/footer/visa.png" class="img-fluid mx-1" alt="Visa Method">
          </div>
          <div class="col">
            <img src="../../../assets/images/footer/mastercard.png" class="img-fluid mx-1" alt="Mastercard Method">
          </div>
        </div>
      </div>

      <div class="col sizeColumSocial">
        <h5 class="textCenter">
          Our social
        </h5>
        <div class="row">
          <div class="col">
            <img src="../../../assets/images/footer/message.png" class="img-fluid mx-1 social-images" alt="Message">
          </div>
          <div class="col">
            <img src="../../../assets/images/footer/telegram.png" class="img-fluid mx-1 social-images" alt="Telegram">
          </div>
          <div class="col">
            <img src="../../../assets/images/footer/facebook.jpg" class="img-fluid mx-1 social-images" alt="Facebook">
          </div>
          <div class="col">
            <img src="../../../assets/images/footer/instagram.png" class="img-fluid mx-1 social-images" alt="Instagram">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
