<body>
  <div class="container">
    <div role="group">
      <button class="buttonFormat filter" (click)="changeColor(0); filterProducts('cat1')" [style.background-color]="colors[0]" >Cat 1</button>
      <button class="buttonFormat filter" (click)="changeColor(1); filterProducts('cat2')" [style.background-color]="colors[1]">Cat 2</button>
      <button class="buttonFormat filter" (click)="changeColor(2); filterProducts('cat3')" [style.background-color]="colors[2]">Cat 3</button>
      <button class="buttonFormat filter" (click)="changeColor(3); filterProducts('cat4')" [style.background-color]="colors[3]">Cat 4</button>
    </div>
  </div>

  <div class="title">Your favorite creators</div>
  <div class="line"></div>

  <div class="container">
    <div class="row">
      <div *ngFor="let product of filteredProducts.slice(0, totalRowsToShow)" class="col-md-3">
        <div class="card mb-4">
          <img src="../../../assets/favorite.svg" alt="Favorite" class="styleImage">
          <img class="card-img-top" [src]="product.urlImage" alt="Card image cap">
          <div class="card-body" style="text-align:center;">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.price}}</p>
            <a href="#" class="buttonFormat addCart">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <button class="buttonFormat" (click)="showMore(1, filteredProducts, totalRowsToShow, showAllRows)">
      {{ showAllRows ? 'Show Less' : 'Show More' }}
    </button>
  </div>

  <div class="title">From our best creators</div>
  <div class="line"></div>

  <div class="container">
    <div class="row">
      <div *ngFor="let product of productsFavorite.slice(0, totalRowsToShowFavorite)" class="col-md-3">
        <div class="card mb-4">
          <img src="../../../assets/favorite.svg" alt="Favorite" class="styleImage">
          <img class="card-img-top" [src]="product.urlImage" alt="Card image cap">
          <div class="card-body" style="text-align:center;">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.price}}</p>
            <a href="#" class="buttonFormat addCart">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <button class="buttonFormat" (click)="showMore(2, productsFavorite , totalRowsToShowFavorite, showAllRowsFavorite)">
      {{ showAllRowsFavorite ? 'Show Less' : 'Show More' }}
    </button>
  </div>

</body>
