<body>
  <div class="title">What can you find here</div>
  <div class="line"></div>

  <div class="container">
    <div class="row">
      <div *ngFor="let product of products.slice(0, totalRowsToShow)" class="col-md-3">
        <div class="card mb-4" (click)="productDetails(product)">
          <img class="card-img-top imageCard" [src]="product.image" alt="Card image cap">
          <i class="material-icons styleImage">favorite_border</i>
          <div class="card-body" style="text-align:center;">
            <h5 class="card-title titelCard">{{product.name}}</h5>
            <p class="card-text">{{product.price}} €</p>
            <a href="#" id="buttonFormat" (click)="addToCart($event, product)">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <button class="buttonFormat" (click)="showMore(1, products, totalRowsToShow, showAllRows)">
      {{ showAllRows ? 'Show Less' : 'Show More' }}
    </button>
  </div>

  <div class="title">Who can you find here</div>
  <div class="line"></div>

  <div class="container">
    <div class="row">
      <div *ngFor="let user of users.slice(0, totalRowsToShowUser)" class="col-md-3">
        <div class="card mb-4" (click)="userDetails(user)">
          <img class="card-img-top imageCard" [src]="user.image" alt="Card image cap">
          <i *ngIf="loggedInUser?.id !== user.id" class="material-icons styleImage" (click)="toggleUserIcon($event,user)">{{ addedUsers.has(user) ? 'person_remove' : 'person_add' }}</i>
          <div class="card-body" style="text-align:center;">
            <h5 class="card-title titelCard">{{user.name}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <button class="buttonFormat" (click)="showMore(2, users, totalRowsToShowUser, showAllRowsUser)">
      {{ showAllRowsUser ? 'Show Less' : 'Show More' }}
    </button>
  </div>

  <div class="title">From our best creators</div>
  <div class="line"></div>

  <div class="container">
    <div class="row">
      <div *ngFor="let user of orderFollowers.slice(0, totalRowsToShowFollows)" class="col-md-3">
        <div class="card mb-4" (click)="userDetails(user)">
          <img class="card-img-top imageCard" [src]="user.image" alt="Card image cap">
          <i class="material-icons styleImage">person_remove</i>
          <div class="card-body" style="text-align:center;">
            <h5 class="card-title titelCard">{{user.name}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <button class="buttonFormat" (click)="showMore(4, orderFollowers , totalRowsToShowFollows, showAllRowsFollows)">
      {{ showAllRowsFollows ? 'Show Less' : 'Show More' }}
    </button>
  </div>

  <div class="title">New articles</div>
  <div class="line"></div>

  <div class="container">
    <div class="row">
      <div *ngFor="let product of newProducts.slice(0, totalRowsToShowNewProducts)" class="col-md-3">
        <div class="card mb-4" (click)="productDetails(product)">
          <img class="card-img-top imageCard"  [src]="product.image" alt="Card image cap">
          <i class="material-icons styleImage">favorite_border</i>
          <div class="card-body" style="text-align:center;">
            <h5 class="card-title titelCard">{{product.name}}</h5>
            <p class="card-text">{{product.price}} €</p>
            <a href="javascript:void(0);" id="buttonFormat" (click)="addToCart($event, product)">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <button class="buttonFormat" (click)="showMore(3, newProducts , totalRowsToShowNewProducts, showAllRowsNewProducts)" style="margin-bottom: 2rem;">
      {{ showAllRowsNewProducts ? 'Show Less' : 'Show More' }}
    </button>
  </div>
</body>
