<body>
  <div class="container">
    <div class="row">

      <div class="d-flex">
        <div class="col-md-2">
          <div *ngFor="let productImage of product?.images_path; let i = index" class="mb-3">
            <img [src]="productImage" class="image imageRow" (click)="showImage(i, $event)">
          </div>
        </div>

        <div class="col-md-10">
          <div class="row mb-3">

            <div class="d-flex">
              <div class="col-md-7">
                <img [src]="selectedImage" class="image img-fluid">
              </div>

              <div class="col-md-4 size" id="margLeft">
                <h1 id="title" class="titelSize">{{ product?.name }}</h1>
                <div> by {{ seller }}</div>

                <div class="marginTop">Category</div>
                <div class="line"></div>
                <div> {{product?.tag}}</div>

                <div class="marginTop">Options</div>
                <div class="line"></div>
                <div style="display: flex;">
                  <div> {{product?.clothingSize}}</div>
                  <div id="marginLeft"> {{product?.colour}}</div>
                </div>

                <button id="button">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h1 class="titelSize">Product description</h1>
      <div class="line" id="linePhone"></div>

      <p id="paragraph" class="size">{{ product?.description}}</p>
    </div>
  </div>
</body>
