
.profile-picture-container {
    width: 12rem;
    height: 12rem;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #00ADB5;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  
  .profile-picture-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
@media (max-width: 768px) {

  .profile-picture-container{
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 426px) {

  .profile-picture-container{
    width: 6.4rem;
    height: 6.4rem;
  }
}