.placeShop{
  display: contents;
  font-size: 1.5rem;
}

.container {
  max-width: 100%;
  padding: 20px;
}

#shop-logo{
  width: 30%;
}

.links-proper {
  max-width: 6%;
}


#shop-header{
  display: inline-block;
}

.pHeader{
  color: white;
  margin-top: 4%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #393E46;
  padding: 1rem;
}

.left-content {
  display: flex;
  align-items: center;
}

.right-content {
  display: flex;
  align-items: center;
}

.search-trending-wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: white;
  justify-content: right;
}

.menu-icon {
  display: none;
}

.headerOptions {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #393E46;
  border: none; 
  padding: 0; 
  cursor: pointer; 
  width: fit-content;
  margin: 1rem;
  color: #fff;
}

.dropdown_content {
  margin-left: auto; /* Alinea el elemento a la derecha */
}

.btnImg {
  width: 2rem;
  margin-right: 5px; 
}

.circle_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.circle_icon  img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.circle_icon:hover {
  transform: scale(1.1);
}

/* CSS para los menús desplegables */
.circle_icon .dropdown_content {
  background-color: #393E46;
  color: #fff;
  display: none;
  position: absolute;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 2.4rem;
  left: 0;
  transform: translateX(-72%);
  font-size: 0.9rem;
}


.circle_icon .dropdown_content a {
  color: white;
  height: 2.25rem;
  padding: 0.8rem 1.25rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle_icon:hover .dropdown_content {
  display: block;
  left: 0; 
  right: auto;
}

@media (max-width: 426px) {

  #shop-logo{
    width: 1rem;
  }

  .header-content {
    height: 2rem;
  }

  .pHeader{
    font-size: 0.4rem;
    margin-top: 1rem;
  }

  .left-content{
    margin-left: 0.6rem;
    margin-top: 0.4rem;
    margin-bottom: 10px;
  }

  .right-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-icon {
    display: block;
    width: 3rem;
  }

  .links-proper {
    max-width: 1rem;
    margin-top: -0.6rem;
  }

  .search-trending-wrapper {
    display: none;
  }

  .show-menu .search-trending-wrapper {
    display: flex;
  }

  .menu-options {
    position: absolute;
    top: 1.3rem;
    left: 21rem;
    font-size: 0.6rem;
    background-color: transparent;
    border: 1px solid black;
    padding: 5px;
  }


}
