<header>
  <div class="header-content">
    <div class="left-content">
      <div class="placeShop">
        <img src="../../../assets/images/header/logo.png" class="img-fluid mx-1" id="shop-logo" alt="Logo"/>
        <p id="shop-header"class="pHeader"> Shop </p>
      </div>
    </div>
    <div class="right-content">
      <div class="searchTrending">

        <div class="search-trending-wrapper">
          <img src="../../../assets/images/header/search.png" class="img-fluid mx-1 links-proper" alt="Search">
          <p class="placeSearch pHeader mr-4"> Search </p>
          <img src="../../../assets/images/header/trending.png" class="img-fluid mx-1 links-proper" alt="Trending">
          <p class="placeTrending pHeader mr-4"> Trending </p>
          <button class="buttonHeader"> Login </button>
        </div>
        <div class="menu-icon d-md-none" (click)="mostrarOpciones()">
          <img src="../../../assets/images/header/menu.png" class="img-fluid mx-1 links-proper" alt="Menu">

          <div class="menu-options" *ngIf="mostrarMenu">
            <p>Search</p>
            <p>Trending</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
