<header>
  <div class="header-content">
    <div class="left-content">
      <div class="placeShop">
        <img src="../../../assets/images/header/logo.png" class="img-fluid mx-1" id="shop-logo" alt="Logo"/>
        <a id="shop-header"class="pHeader" href=""> Shop </a>
      </div>
    </div>
    <div class="right-content">
        <div class="search-trending-wrapper">          
          <div class="headerOptions">          
            <button class="button">
              <img src="/assets/images/header/search.png" class="btnImg" alt="Search">
              <span class=""> Search </span>
            </button>
            <button class="button">
              <img src="/assets/images/header/trending.png" class="btnImg" alt="Trending">
              <span class=""> Trending </span>
            </button>      
          
            <!-- Botones que se muestran solo cuando el usuario está autenticado -->
            <ng-container *ngIf="authService.currentUser$ | async as user">
              <button class="button">
                <img src="/assets/images/header/recommended.png" class="btnImg" alt="Recommended">
                <span class=""> Recommended </span>
              </button>
              <button class="button">
                <img src="/assets/images/header/hearth-favourites.png" class="btnImg" alt="Favorites">
                <span class=""> Favorites </span>
              </button>
              <button class="button">
                <img src="/assets/images/header/cart.png" class="btnImg" alt="Cart">
              </button> 
            </ng-container>
          </div>
        </div>

        <div class="submenus">         
          <div class="menu-icon ">
            <img src="../../../assets/images/header/menu.png" class="img-fluid mx-1 links-proper" alt="Menu">
            <div class="menu-options">
              <div class="menu-icon-options">
                <img src="/assets/images/header/search.png" class="btnImg" alt="Search">
                <a> Search </a>
              </div>
              <div class="menu-icon-options">
                <img src="/assets/images/header/trending.png" class="btnImg" alt="Trending">
                <a> Trending </a>
              </div>
              <ng-container *ngIf="authService.currentUser$ | async as user">
                <div class="menu-icon-options">
                  <img src="/assets/images/header/recommended.png" class="btnImg" alt="Recommended">
                  <a> Recommended </a>
                </div>
                <div class="menu-icon-options">
                  <img src="/assets/images/header/hearth-favourites.png" class="btnImg" alt="Favorites">
                  <a> Favorites </a>
                </div>
                <div class="menu-icon-options">
                  <img src="/assets/images/header/cart.png" class="btnImg" alt="Cart">
                  <a> Shopping cart</a>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="circle_icon">
            <img src="/assets/images/header/placeholder.png" />
            <ng-template #noRegistrado> 
              <div class="dropdown_content">
                <a href="loginPage">Log in</a>
                <a href="signupPage">Sign up</a>
              </div>
            </ng-template>
            <!--Lo que se muestra en el menu cuando un usuario se registra-->
            <ng-container *ngIf="authService.currentUser$ | async as user; else noRegistrado">
              <div class="dropdown_content">
                <a href="profile">Profile</a>
                <a href="" (click)="logout()">Log out</a>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </header>
