.menu-container {
  border: 1px solid #000;
  border-radius: 7px;
  overflow: hidden;
  width: 12rem;
}

.menu-item {
  padding: 0.5rem;
  color: #000;
  border: none;
  width: 100%;
  text-align: left;
  font-weight: bold;
}

.menu-item:hover {
  background-color: #00ADB5;
}

.selected {
  background-color: #00ADB5;
  box-shadow: 0px -3px 3px -3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {

  .menu-container {
    width: 10rem;
  }

}

@media (max-width: 426px) {

  .menu-container {
    width: 6.5rem;
  }

  .menu-item {
    font-size: 0.6rem;
  }

}
