<body>
    <div class="container mt-3">
        <div class="profile-form">
            <h1>My account</h1>
            <div class="row">
                <div class="d-flex">
                    <div class="col-md-4">
                        <div class="profile-image-container mb-3">
                            <app-profile-picture></app-profile-picture>
                            <app-menu-profile></app-menu-profile>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="menu-wrapper_2">
                            <div class="menu_orders">
                                <button (click)="selectMenuOption('my_orders')" class="menu-item"
                                    [class.selected]="selectedMenuOption === 'my_orders'">My orders</button>
                                <button (click)="selectMenuOption('customer_orders')" class="menu-item"
                                    [class.selected]="selectedMenuOption === 'customer_orders'">Customer orders</button>
                            </div>
                        </div>

                        <!-- My Orders -->
                        <div class="my_orders_content" *ngIf="shouldShow('my_orders')">
                            <!--div *ngFor="let order of details" class="order-card">
              <img [src]="order.product.imageUrl" alt="Product Image" class="product-image">
              <div class="order-details">
                <p>Product name: {{ order.productName }}</p>
                <p>Seller's account: {{ order.sellerName }}</p>
                <p>Purchase date: {{ order.purchaseDate }}</p>
                <p>Price: {{ order.price }}</p>
              </div>
            </div-->
                        </div>

                        <!-- My Customer Orders -->
                        <div class="my_costumers_content" *ngIf="shouldShow('customer_orders')">
                            <p class="paragraph"> Sort by: </p>

                            <button class="sort-button">Earliest orders</button>
                            <button class="sort-button">Recent orders</button>
                            <button class="sort-button">Product ordered</button>

                            <!--div *ngFor="let order of orders" class="order-card">
              <img [src]="order.imageUrl" alt="Product Image" class="product-image">
              <div class="order-details">
                <p>Product name: {{ order.productName }}</p>
                <p>Customer Account: {{ order.customerAccount }}</p>
                <p>Order Date: {{ order.orderDate }}</p>
                <p>Payment Method: {{ order.paymentMethod }}</p>
                <p>Delivery Address: {{ order.deliveryAddress }}</p>
              </div>
            </div-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>