body{
    overflow-y: auto;
}

#error-message{
    font-size: small;
    display: flex;
    align-items: center;
    width: fit-content;
    position: inherit;
    color: red;
}
#error-message img{
    margin: 0 3px;
}

.signup_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}

.form_content h2{
    font-weight: bold;
}


.form_container {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.image_container {
    flex-basis: 60%;
    background-position: left;
    height: auto;
    width: 50%;
}

.image_container img{
    height: 100%;
    width: 100%;
}

.form_content {
    flex: 1;
    padding: 20px;
    flex-basis: 40%;
    align-self: center;
    justify-self: center;
    width: fit-content;
}

#fileInput{
    display: none;
}

#form{
    width: fit-content;
    margin: auto;
}
.field, .image_container{
    width: 19rem;
    padding: 1rem 0;
}

label{
    font-size: 0.8rem;
    font-weight: 700;
}

.text{
    border: 1px black solid;
    border-radius: 0.5rem;
    width: 100%;
    height: 2.8rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}


.button, .buttonAddImage{
    border: none;
    background-color: #00ADB5;
    width: 19rem;
    height: 2.8rem;
    font-size: 1rem;
    font-weight: bolder;
    transition: 0.2s;
    border-radius: 0.5rem;
}

.buttonAddImage{
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover{
    transform: scale(1.02);
    cursor: pointer;
}


.text:hover, .text:focus{
    outline: none;
    border: solid 0.1rem #f3f3f4;
    box-shadow: 0 0 0.4rem #00ADB5;
}

form p {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
}



@media (max-width: 860px){
    .field, .button{
        width: 15rem;
    }
    .image_container{
        height: auto;
        width: 15rem;
    }

}

@media (max-width: 630px){
    .image_container {
        display: none;
    }
}

@media (max-width: 300px) {
    #title_log{
        font-size: 15px;
    }

    .field, .button{
        width: 8rem;
    }
}
