<head>
    <title>Iniciar sesión</title>
</head>

<body>

    <div class="signup_container">
        <div class="form_container">
            <div class="image_container">
                <img src="../../../assets/images/signup/signup.jpg" alt="signupImage">
            </div>
            <div class="form_content">
                <form id="form">
                    <h2 id="title_log">Create new account</h2>
                    <div class="field">
                        <label>Name<br></label>
                        <input matInput class="text" id="name" name="email" type="text" placeholder="name">
                    </div>
                    <div class="field">
                        <label>Email address<br></label>
                        <input matInput class="text" id="email" name="email" type="email" placeholder="name@example.com"
                            formControlName="email">
                    </div>
                    <div class="field">
                        <label>Password<br></label>
                        <input class="text" id="password" name="password" type="password" placeholder="••••••••••"
                            formControlName="password">
                    </div>
                    <div class="field">
                        <label>Confirm password<br></label>
                        <input class="text" id="verifyPassword" name="password" type="password" placeholder="••••••••••"
                            formControlName="password">
                    </div>
                    <div class="field">
                        <button class="button" (click)="navigateToDirectionFormPage()">Next</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>

</body>