body{
    min-height: 73.9vh !important;
}
  
  .profile-form h1 {
    border-bottom: 2px solid black;
    padding-bottom: 0.2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .profile-form h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  @media (max-width: 768px) {

    .profile-form h1{
      font-size: 2rem;
    }
  
    .profile-form h2{
      font-size: 1.5rem;
    }
  }

  @media (max-width: 426px) {

    .profile-form h1{
      font-size: 1rem;
      border-bottom: 1px solid black;
    }
  
    .profile-form h2{
      font-size: 0.8rem;
      text-align: center;
    }

  }