<html>

<body>
  <div *ngIf="selectedOption === 'profile'" class="profile-form">

    <div class="profile-form">
      <h1>My account</h1>
      <h2>My profile</h2>

      <div class="columns-container">
        <div class="column">
          <div class="form-group_1">
            <label class="Name" for="name">Name</label>
            <input type="text" id="name" name="name" required placeholder="Name">
            <label class="email" for="email">Email address</label>
            <input type="email" id="email" name="email" required placeholder="name@example.com">
          </div>
        </div>
        <div class="column">
          <div class="form-group_2">
            <label class="lastName" for="lastName">Last Name</label>
            <input type="text" id="lastName" name="LastName" required placeholder="Last Name">
            <label class="password" for="password">Password</label>
            <input type="password" id="password" name="password" required placeholder="***********">
          </div>
        </div>
      </div>

      <div class="menu-wrapper">
        <div class="menu-container">
          <button (click)="selectOption('profile')" class="menu-item" [class.selected]="activeOption === 'profile'">My
            Profile</button>
          <button (click)="selectOption('products')" class="menu-item" [class.selected]="activeOption === 'products'">My
            Products</button>
          <button (click)="selectOption('income')" class="menu-item" [class.selected]="activeOption === 'income'">View
            Income</button>
          <button (click)="selectOption('subscriptions')" class="menu-item"
            [class.selected]="activeOption === 'subscriptions'">My Subscriptions</button>
          <button (click)="selectOption('orders')" class="menu-item" [class.selected]="activeOption === 'orders'">My
            Orders</button>
          <button (click)="selectOption('favorites')" class="menu-item"
            [class.selected]="activeOption === 'favorites'">Favourites</button>
        </div>
        <button class="delete-account">Delete my account</button>
      </div>
    </div>
  </div>


  <div *ngIf="selectedOption === 'products'" class="profile-form">
    <h1>My account</h1>
    <h2>My products</h2>
    <div class="menu-wrapper">
      <div class="menu-container">
        <button (click)="selectOption('profile')" class="menu-item" [class.selected]="activeOption === 'profile'">My
          Profile</button>
        <button (click)="selectOption('products')" class="menu-item" [class.selected]="activeOption === 'products'">My
          Products</button>
        <button (click)="selectOption('income')" class="menu-item" [class.selected]="activeOption === 'income'">View
          Income</button>
        <button (click)="selectOption('subscriptions')" class="menu-item"
          [class.selected]="activeOption === 'subscriptions'">My Subscriptions</button>
        <button (click)="selectOption('orders')" class="menu-item" [class.selected]="activeOption === 'orders'">My
          Orders</button>
        <button (click)="selectOption('favorites')" class="menu-item"
          [class.selected]="activeOption === 'favorites'">Favourites</button>
      </div>
    </div>
  </div>

  <div *ngIf="selectedOption === 'income'" class="profile-form">
    <h1>My statistics</h1>

    <select class="dropdown_menu_1">
      <option value="option1_1">Country</option>
      <option value="option1_2">Profits</option>
      <option value="option1_3">Bestseller</option>
    </select>

    <select class="dropdown_menu_2">
      <option value="option2_1">Pie Chart</option>
      <option value="option2_2">Bart chart</option>
      <option value="option2_3">Scatter plot</option>
      <option value="option2_4">Line graph</option>
    </select>
  </div>

  <div *ngIf="selectedOption === 'subscriptions'" class="profile-form">
    <h1>My account</h1>
    <div class div_subscriptions>
      <h2>My subscriptions</h2>
      <a class="subscribers" href="/subscribers">View my subscribers</a>
    </div>
    <div class="menu-wrapper">
      <div class="menu-container">
        <button (click)="selectOption('profile')" class="menu-item" [class.selected]="activeOption === 'profile'">My
          Profile</button>
        <button (click)="selectOption('products')" class="menu-item" [class.selected]="activeOption === 'products'">My
          Products</button>
        <button (click)="selectOption('income')" class="menu-item" [class.selected]="activeOption === 'income'">View
          Income</button>
        <button (click)="selectOption('subscriptions')" class="menu-item"
          [class.selected]="activeOption === 'subscriptions'">My Subscriptions</button>
        <button (click)="selectOption('orders')" class="menu-item" [class.selected]="activeOption === 'orders'">My
          Orders</button>
        <button (click)="selectOption('favorites')" class="menu-item"
          [class.selected]="activeOption === 'favorites'">Favourites</button>
      </div>
    </div>
  </div>

  <div *ngIf="selectedOption === 'orders'" class="profile-form">
    <h1>My account</h1>
    <div class="menu-wrapper_2">
      <div class="menu_orders">
        <button (click)="selectOption('my_orders')" class="menu-item" [class.selected]="activeOption === 'my_orders'">My
          orders</button>
        <button (click)="selectOption('customers_orders')" class="menu-item"
          [class.selected]="activeOption === 'customers_orders'">Customer orders</button>
      </div>
    </div>

    <div class="menu-wrapper">
      <div class="menu-container">
        <button (click)="selectOption('profile')" class="menu-item" [class.selected]="activeOption === 'profile'">My
          Profile</button>
        <button (click)="selectOption('products')" class="menu-item" [class.selected]="activeOption === 'products'">My
          Products</button>
        <button (click)="selectOption('income')" class="menu-item" [class.selected]="activeOption === 'income'">View
          Income</button>
        <button (click)="selectOption('subscriptions')" class="menu-item"
          [class.selected]="activeOption === 'subscriptions'">My Subscriptions</button>
        <button (click)="selectOption('orders')" class="menu-item" [class.selected]="activeOption === 'orders'">My
          Orders</button>
        <button (click)="selectOption('favorites')" class="menu-item"
          [class.selected]="activeOption === 'favorites'">Favourites</button>
      </div>
    </div>
  </div>

  <div *ngIf="selectedOption === 'favorites'" class="profile-form">
    <h1>My account</h1>
    <h2>My favourites</h2>
    <div class="menu-wrapper">
      <div class="menu-container">
        <button (click)="selectOption('profile')" class="menu-item" [class.selected]="activeOption === 'profile'">My
          Profile</button>
        <button (click)="selectOption('products')" class="menu-item" [class.selected]="activeOption === 'products'">My
          Products</button>
        <button (click)="selectOption('income')" class="menu-item" [class.selected]="activeOption === 'income'">View
          Income</button>
        <button (click)="selectOption('subscriptions')" class="menu-item"
          [class.selected]="activeOption === 'subscriptions'">My Subscriptions</button>
        <button (click)="selectOption('orders')" class="menu-item" [class.selected]="activeOption === 'orders'">My
          Orders</button>
        <button (click)="selectOption('favorites')" class="menu-item"
          [class.selected]="activeOption === 'favorites'">Favourites</button>
      </div>
    </div>
  </div>
</body>

</html>