body{
  min-height: 73.9vh !important;
}

.profile-form h1 {
  border-bottom: 2px solid black;
  padding-bottom: 0.2rem;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.profile-form h2 {
  font-size: 2rem;
  font-weight: bold;
}

/*Form*/

.form-group {
  margin-top: 1rem;
}

.form-group input {
  width: calc(100% - 10px);
  height: 3rem;
  border-radius: 7px;
  border: 1px solid #000;
  padding-left: 20px;
  background-color: transparent;
}

/*Button delete*/

.delete-account {
  width: 10rem;
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: #E15555;
  border-radius: 10px 0px 10px 0px;
  font-weight: bold;
  font-size: 1rem;
  color: #000;
  border: none;
}

.delete-account:active {
  background-color: #c42e2e;
}


@media (max-width: 768px) {

  .profile-form h1{
    font-size: 2rem;
  }

  .profile-form h2{
    font-size: 1.5rem;
  }

  .form-group input {
    height: 2rem;
  }

}

@media (max-width: 426px) {

  .profile-form h1{
    font-size: 1rem;
    border-bottom: 1px solid black;
  }

  .profile-form h2{
    font-size: 0.8rem;
    text-align: center;
  }

  .form-group{
    margin-top: 0.2rem;
  }

  .form-group input {
    height: 1.4rem;
    font-size: 0.6rem;
  }

  .form-group label {
    font-size: 0.8rem;
  }

  .formMovil{
    margin-left: 1rem;
  }

  .delete-account {
    width: 6rem;
    height: 2rem;
    font-size: 0.5rem;
    margin-top: 1rem;
  }

}
